.minifigCard {
    background-color: #fff;
    height: 93%;
    width: 25rem;
    border-radius: 20px;
    padding: 3rem 2rem;
    color: #333333;
    font-weight: 700;

    & > div {
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    & > div.loading {
        justify-content: flex-end;
    }

    div.loader {
        border: 12px solid $bgSecondary; 
        border-top: 12px solid $mainColor;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 1s linear infinite;
        margin: 0 auto 30vh auto;
        }
        
        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        }



    .minifigPreview {
        margin: 2rem auto 2.5rem auto;
        text-align: center;
        img {
            height: 10rem;
        }

        h2.minifigName {
            font-size: 1.1rem;
        }
    }

    .partsList {
        
        img {
            height: 3.5rem;
        }
        
        li {
            display: flex;
            align-items: center;
            margin-top: 1rem;
            
            h3 {
                white-space:nowrap;
                overflow: hidden;
                width: 260px;
                margin-bottom: .2rem;
                text-overflow: ellipsis;
            }
            
            p {
                color: $mainColor
            }
            
            img {
                margin-right: 1rem;
            }
        }
    }

    h1 {
        font-family: $TitleFont;
        text-transform: uppercase;
        font-size: 2rem;
    }
    
    .partsSection {
        h2 {
            margin-bottom: 2rem;
        }
        
    }

    .btnSection {
        margin: 0 auto;
        button {
            width: 13rem;
            border: none;
            border-radius: 50px;
            height: 2.5rem;
            text-transform: uppercase;
            font-weight: 700;
            font-size: .7rem;
            color: #fff;
            transition: transform .3s, filter, .3s;
            cursor: pointer;

            &:hover {
                transform: scale(1.03);
                filter: brightness(110%);
            }

            &#drawBtn {
                background-color: $mainColor;
            }

            &#orderBtn {
                background-color: $btnBlue
            }
        }

        p {
            color: #acacac;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .7rem;

            &:before, &:after {
                margin: 1rem 1rem;
                content: '';
                display: inline-block;
                height: 1px;
                width: 3rem;
                background-color: #acacac;
            }
        }
    }
}

@media screen and (max-height: 1000px) and (min-width: 1000px) {
    .minifigCard {
            transform: scale(.8);
            height: 110%;
    }
}


@media screen and (max-width: 900px) {
    .minifigCard {
        height: 55rem;
        width: 82%;
        margin-top: 2rem;

        .partsList {
                
            li {
                h3 {
                    width: calc(100vw - 250px);
                }
            }
    }
    }
}

@media screen and (max-width: 450px) {
    .minifigCard {
        .partsList {
            li {
                h3 {
                    width: calc(100vw - 220px);
                }
            }
        }
    }
}