@import "./scss/reset";
@import "./scss/colors";

$TitleFont: 'Changa', sans-serif;

body { 
    font-family: 'Roboto Condensed', sans-serif;
    background-color: $bg;

    // &::after, &::before {
    //     content: "?";
    //     position: absolute;
    //     font-family: $TitleFont;
    //     overflow: hidden;
    // }

    // &::after {
    //     z-index: -1;
    //     left: 10vw;
    //     top: 6vw;
    //     font-size: 20vw;
    //     color: $bgSecondary;
    //     rotate: -30deg;
    // }

    // &::before {
    //     z-index: -1;
    //     right: -10vw;
    //     bottom: -19vw;
    //     font-size: 60vw;
    //     color: $bgSecondary;
    //     rotate: 30deg;
    // }

    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%
    }
}

@media screen and (max-width: 900px) {
    body {
        .container {
            margin: 3rem 0;
            height: auto;
            flex-direction: column;

        }
    }
}

@import './components/shippingForm/shippingForm.scss';
@import './components/minifigCard/minifigCard.scss';
@import './components/orderSite/orderSite.scss'