@import "./scss/reset";
@import "./scss/colors";

$TitleFont: 'Changa', sans-serif;

body { 
    font-family: 'Roboto Condensed', sans-serif;
    background-color: $bg;

    &::after, &::before {
        content: "?";
        position: absolute;
        font-family: $TitleFont;
    }

    &::after {
        z-index: -1;
        left: 10vw;
        top: 6vw;
        font-size: 20vw;
        color: $bgSecondary;
        rotate: -30deg;
    }

    &::before {
        z-index: -1;
        right: -10vw;
        bottom: -19vw;
        font-size: 60vw;
        color: $bgSecondary;
        rotate: 30deg;
    }
}
